*.iml
.gradle
/.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
app/src/androidTest/
app/src/main/res/drawable-nodpi/
